*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #171818;
    --second-bg-color: #272727;
    --text-color: #fff;
    --main-color: #FED586;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px 3%;
    border-bottom: 1px solid transparent;
    transition: all .50s ease;

}

.logo img{
    margin-top: 2px;
    width: 50px;
}

.navbar{
    margin-left: 100px;
    list-style: none;
    background: transparent;
    display: flex;
    font-family: 'Poppins';
    font-weight: 500;
}

.navbar ul li{
    display: inline-block;
    position: relative;
}
.navbar ul li a{
    display: block;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.navbar ul li ul.dropdown li{
    display: block;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}
.navbar ul li ul.dropdown li a{
    font-size: .8em;
}
.navbar ul li ul.dropdown {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 5px;
}

.navbar ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 0;
    background: var(--main-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    
}

.navbar ul li a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

.navbar ul li ul a:hover{
    font-weight: bolder;
}

.navbar ul li:hover ul.dropdown {
    display: block;
}


.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all .50s ease;
}

.navbar a.active{
    font-weight: bolder;
}

/*NOT LOGGED*/
.account{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.signup{
    margin-right: 5px;
    color: var(--text-color);
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    border: 1.5px solid #fff;
    font-weight: 500;
}

.signup:hover{
    color: var(--main-color);
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    border: 1.5px solid #FED586;
    transition: 0.5s;
}

.login{
    color: var(--bg-color);
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: bolder;
}

.login:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: bolder;
    transition: 0.5s;
}

/*IF LOGGED */
.account-logged{
    display: flex;
    align-items: center;
    font-size: .8em;
    font-weight: 500;
    transition: all .50s ease;
}

.account-logged .fullname{
    color: #fff;
    font-weight: bold;
    
}
.account-logged .fullname:hover{
    color: var(--main-color);
    background-color: transparent;
    transition: 0.5s;
}

.account-logged img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top:3px;

}

#menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
    margin-left: 20px;
}
/* Events Video Slider */

section {
  padding: 150px 100px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--main-color);
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(36, 36, 36, 0.507);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content h1 {
    font-size: 5em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
    font-family: 'Judson';
    color: #FED586;
}

.home .content p {
  margin-bottom: 20px;
  text-align: justify;
}

.start-button .get-started {
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 99;
    width: 230px;
    height: 40px;
    font-family: 'Quicksand';
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border-style: solid;
    border-color: #fff;
    cursor: pointer;
    transition: .5s;
}

.start-button .get-started:hover {
    background: #fff;
    color: #171818;
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 75px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: var(--main-color); 
} 

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;

}

@media (max-width: 1040px) {
  header {
    padding: 15px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(img/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
}

.menu-btn.active {
  z-index: 999;
  background: url(img/close.png) no-repeat;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}

/*footer*/

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #171818;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins';
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Poppins';
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #FED586;
}

footer p{
    color:#999;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
}

.sci li a:hover{
    background: #FED586;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quicklinks{
    position: relative;
    width: 25%;
}
.quicklinks ul li{
    list-style: none;
}
.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks ul li a:hover{
    color: #fff;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright{
    width: 100%;
    background: #1a1a1a;
    padding: 8px 100px;
    text-align: center;
    color: #999;
    border-top: #fff;
    border-width: 1px;
}


@media screen and (min-width: 600px){
    .footer-right >*{
        flex: 1;
    }
    .footer-left{
        flex:1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
